.sidebar {
  width: 32%;
  float: right;
  background-color: rgb(196, 225, 215);
  margin: 30px;
}

.sidebar h1 {
  text-align: center;
}

.sidebar h3 {
  text-align: center;
}
.sidebar p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar img {
  max-width: 40%;
  height: auto;
  border-radius: 10%;
  text-align: center;
  padding: 110px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.mainbody {
  margin: 30px;
  margin-right: 10px;
  border: 5px solid rgb(235, 153, 109);
  padding: 10px;
  width: 700px;
}

.secondbody {
  margin: 30px;
  margin-right: 10px;
  border: 5px solid rgb(143, 191, 191);
  padding: 10px;
  width: 700px;
}

.mainbody h2 {
  font-family: cursive;
  color: rgb(6, 8, 106);
  font-weight: bolder;
}

.secondbody h2 {
  font-family: cursive;
  color: rgb(6, 8, 106);
  font-weight: bolder;
}