.topsection {
  text-align: center;
  font-family: fantasy;
}

.sidebar {
  width: 32%;
  float: right;
  background-color: rgb(196, 225, 215);
  margin: 30px;
  border: 5px dotted salmon;
}

.sidebar h3 {
  text-align: center;
  font-family: cursive;
}

.sidebar p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar img {
  max-width: 40%;
  height: auto;
  border-radius: 10%;
  align: center;
  margin-left: 140px;
}

.mainbody {
  margin: 30px;
  margin-right: 10px;
  border: 5px solid rgb(235, 153, 109);
  padding: 10px;
  width: 700px;
  background-color: #ffd8df;
}

.mainbody img{
  max-width: 30%;
  height: 20%;
  border-radius: 10%;
  padding: 20px;
  padding-bottom: 17px;
  padding-top: 1px;
}

.mainbody h2 {
  font-family: cursive;
  color: rgb(6, 8, 106);
  font-weight: bolder;
}

.paras {
  font-weight: bold;
  color: rgb(67, 41, 215);
}

.parag {
  text-align: center;
}

.secondbody {
  margin: 30px;
  margin-right: 10px;
  border: 5px solid rgb(143, 191, 191);
  padding: 10px;
  width: 700px;
  background-color: #d1faf6;
}

.secondbody h2 {
  font-family: cursive;
  color: rgb(6, 8, 106);
  font-weight: bolder;
}

.bottomsection {
  text-align: center;
  font-family: fantasy;
}
